.App {
  text-align: center;
  margin: auto;
  max-width: 800px;
  background-color: white;
}

body {
  text-align: center;
}

#reminder-btn {
  color: white;
  background-color: rgb(64, 145, 233);
  height: 40px;
  width: 140px;
  border: rgb(64, 145, 233);
  border-radius: 6px;
  margin: 40px 10px;
}

.form-input {
  padding: 10px;
  margin: 40px;
}

.ol {
  list-style: none;
}

#message {
  text-align: left;
  max-width: 640px;
}

/* @media-query */