.App {
  text-align: center;
  margin: auto;
  max-width: 960px;
  background-color: white;
}

#intro-h1 {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  text-align: center;
}

#reminder-btn {
  color: white;
  background-color: rgb(64, 145, 233);
  height: 40px;
  width: 140px;
  border: rgb(64, 145, 233);
  border-radius: 6px;
  margin: 40px 10px;
  /* position: absolute;
  left: 20px; */
}

.form-input {
  padding: 0 10px 0 10px;
  margin: 0;
  width: 180px;
  border-radius: 6px;
  border-style: solid;
  border-color: lightgray;
  color: gray;
  font-weight: bold;
}

.ol {
  list-style: none;
}

.message {
  text-align: left;
  max-width: 640px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.icon {
  float: left;
  vertical-align: middle;
}

#bottom {
  margin-bottom: 50px;
}

@media (max-width: 560px) {
  .grid-3 {
    grid-template-columns: 1fr;
  }
}
