.App {
  text-align: center;
  margin: auto;
  max-width: 800px;
  background-color: white;
}

#intro-h1 {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  text-align: center;
}

#reminder-btn {
  color: white;
  background-color: rgb(64, 145, 233);
  height: 40px;
  width: 140px;
  border: rgb(64, 145, 233);
  border-radius: 6px;
  margin: 40px 10px;
  /* position: absolute;
  left: 20px; */
}

.form-input {
  padding: 10px;
  margin: 40px;
  width: 200px;
  border-radius: 6px;
  border-style: solid;
  border-color: lightgray;
  color: gray;
  font-weight: bold;
}

.ol {
  list-style: none;
}

.message {
  text-align: left;
  max-width: 640px;
}

/* #root {
  background-color: black
} */

/* @media-query */
